/* đổ màu linear gradiant từ bottom lên top (vertical linear)/ truyền vào 2 mã màu. 
đây là đổ màu cho thẻ div và các thẻ container khác, không dùng được cho icon. 
icon sử dụng svg là đổ màu bằng svg path. 
*/
@mixin background-gradient-to-top($top-color, $bottom-color) {
  background: $top-color;
  background: -moz-linear-gradient(bottom, $top-color 0%, $bottom-color 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $top-color),
    color-stop(100%, $bottom-color)
  );
  background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: -o-linear-gradient(bottom, $top-color 0%, $bottom-color 100%);
  background: -ms-linear-gradient(bottom, $top-color 0%, $bottom-color 100%);
  background: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%);
  background-size: 150% 150%;
}

/* đổ màu linear gradiant từ bottom lên top (vertical linear)/ truyền vào 2 mã màu. 
đây là đổ màu cho thẻ div và các thẻ container khác, không dùng được cho icon. 
icon sử dụng svg là đổ màu bằng svg path. 
thay vì đổ linear background, hàm này đổ chi tiết hơn, chỉ đổ cho background-image.
*/
@mixin background-gradien-to-right($left-color, $right-color) {
  background-image: -webkit-gradient(linear, left top, right top, from($left-color), to($right-color));
  background-image: -webkit-linear-gradient(left, $left-color 0, $right-color 100%);
  background-image: -moz- oldlinear-gradient(left, $left-color 0, $right-color 100%);
  background-image: -o-linear-gradient(left, $left-color 0, $right-color 100%);
  background-image: linear-gradient(to right, $left-color 0, $right-color 100%);
  background-repeat: repeat-x;
}
// Box -shadow
@mixin blurShadow($color) {
  opacity: 0.6;
  content: "";
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: $color;
  -webkit-filter: blur(11px);
  -moz-filter: blur(11px);
  -o-filter: blur(11px);
  -ms-filter: blur(11px);
  filter: blur(11px);
  bottom: -7%;
}

@mixin background_invisible() {
  background: rgba(255, 255, 255, 0);
}

@mixin gradient-box ($left-color, $right-color, $positon, $bg-color) {
  
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  // padding: 0 20px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: $bg-color;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;

  &::after {
    content: '';
    position: absolute;
    padding-top: 70px;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -4px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to $positon, $left-color, $right-color);
    height: calc(100% + 8px);
  }
} 

@mixin gradient-box-small ($left-color, $right-color, $positon, $bg-color) {
  
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: $bg-color;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &::after {
    content: '';
    position: absolute;
    padding-top: 70px;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -4px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to $positon, $left-color, $right-color);
    height: calc(100% + 8px);
  }
} 