@import "mixins";
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@media (min-width: 1400px) {
  .application .container {
    width: 1366px;
  }
}

li {
  margin: 0;
  padding: 0;
}

// trick work for telephone on safari
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.h-100 {
  height: 100%;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: initial;
}

#header {
  width: 100%;
  height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-header {
  display: flex;
  justify-content: space-between;
}
.cls-banner-content {
  padding-top: 18.3%;

  .title-banner {
    max-width: 635px;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.07;
    color: #fefeff;
    letter-spacing: 2.3px;
    text-transform: uppercase;
  }
  .subtitle-banner {
    max-width: 593px;
    padding-top: 15px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.7px;
    color: #fefeff;
  }
  .horizontal-line {
    margin-top: 30px;
    width: 128px;
    height: 2px;
    background: #fefeff;
    content: " ";
  }
  .intro-desciption-banner {
    padding-top: 35px;
    max-width: 705px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 0.2px;
    text-align: left;
    color: #feffff;
  }
}
.header-front-page {
  background-size: 100% 90%;
  background-repeat: no-repeat;
}
.navbar-brand {
  float: left;
  margin-top: 20px;
  padding: 0;
  width: 139px;
  height: 45px;
  img {
    width: 100%;
    height: 100%;
  }
}
.top_menu {
  float: right;
  ul {
    li {
      padding-left: 16px;
      padding-top: 16px;
      a {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #fefeff;
        &:hover {
          background-color: transparent !important;
          // font-weight: bold;
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.top_menu ul li a {
  text-align: center;
}
.mibi {
  display: none;
}
.our-solution {
  margin-top: 0%;
  @include background-gradient-to-top(#ffff, #f3f3e7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
  .list-detail-block ul {
    padding: 0;
  }
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title-block {
  font-size: 2.0833rem;
  font-weight: bold;
  color: #010101;
  text-align: center;
  margin-bottom: 7%;
  &.first-section {
    margin-bottom: 1.5%;
  }
}
.our-solution-content {
  padding-top: 40px;
  padding-bottom: 40px;

  .description-block {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #4e4d4d;
  }
  .list-detail-block {
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #4e4d4d;
    ul {
      li {
        font-size: 23px;
        padding-bottom: 22px;
        letter-spacing: 0.2px;
      }
      li:before {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        background-image: url("../image/ticker.png");
        background-size: contain;
        margin-right: 15px;
        margin-bottom: -3px;
      }
    }
  }
  .img-infor {
    z-index: 1;
    img {
      width: 100%;
    }
  }
}
.background-infor {
  width: 100%;
  &.footer {
    background-color: #f2f1f1;
  }
  img {
    width: 100%;
  }
}
.benefits-advantages {
  margin-top: 8.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
}

.benefits-advantages {
  .content {
    display: flex;
    align-items: center;
    margin-bottom: 7.25%;
    .image {
      max-width: 200px;
      width: 100%;
      margin-right: 20px;   
    }
    .title {
      font-size: 1rem;
      color: #000000;
    }
  }
}

.application {
  margin-top: 15%;

  .content {
    max-height: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .image {
      width: 134px;
      height: 134px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .list-des {
      ul li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
    &.green {
      @include gradient-box(#008a06, #c4ff70, top right, #eefff0);
      .title {
        color: #008a06;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #008a06;
            }
          }
        }
      }
    }
    &.blue {
      @include gradient-box(#005dd3, #25abff, top right, #eff9ff);
      .title {
        color: #005dd3;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #005dd3;
            }
          }
        }
      }
    }
    &.red {
      @include gradient-box(#d3004f, #ff6825, top right, #fff6ef);
      .title {
        color: #db1447;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #db1447;
            }
          }
        }
      }
    }
  }
}

.about-us {  
  position: relative;;
  padding-top: 10%;
  padding-bottom: 3.7%;
  @include background-gradient-to-top(#f1f0f1, #f2f1f1);

  .history {
    margin-top: 60px;

     .content {
      min-height: 112px;
    }
  }

  .item-application {
    z-index: 1;
  }

  .content-item {
    display: flex;
    &.margin-left-right {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 64px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
   
    &.succeed > .number {
      margin-right: 15px;
    } 
    .image {
      height: 97px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      font-size: 18px;
      color: #399cd5;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .list-des {
      min-height: 120px;
      font-size: 16px;
      text-align: center;
      color: #4c4c4c;
    }
    .number {
      font-size: 48px;
      font-weight: 600;
    }
    .des {
      font-size: 20px;
      color: #4c4c4c;
    }
    
    &.green {
      @include gradient-box(#008a06, #c4ff70, top right, #eefff0);
      .title {
        color: #008a06;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #008a06;
            }
          }
        }
      }
    }
    &.blue {
      @include gradient-box(#005dd3, #25abff, top right, #eff9ff);
      .title {
        color: #005dd3;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #005dd3;
            }
          }
        }
      }
    }
    &.red {
      @include gradient-box(#d3004f, #ff6825, top right, #fff6ef);
      .title {
        color: #db1447;
      }
      .list-des {
        ul {
          li {
            &::before {
              color: #db1447;
            }
          }
        }
      }
    }
    &.first {
      @include gradient-box-small(#236cb5, #4fb8e9, top right, #f2f1f1);
      .number {
        color: #2c6cb4;
      }
    }
    &.second {
      @include gradient-box-small(#1888c0, #7fd1f4, top right, #f2f1f1);
      .number {
        color: #0687bf;
      }
    }
    &.third {
      @include gradient-box-small(#344fa2, #a4c8ea, top right, #f2f1f1);
      .number {
        color: #3650a1;
      }
    }
  }
  .succeed {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
}
.how-it-work {
  display: block;
  @include background-gradient-to-top(#f8f8f9, #eeeded);
}

.footer {
  background: #f2f1f1 url('../image/banner-2.png') no-repeat;
  padding-top: 25%;
  padding-bottom: 11.5%;
  color: white;

  .text-white,
  .contact-info-group a {
    color: white;
  }

  .contact-info-group {
    font-size: 20px;

    > img {
      max-width: 265px;
    }
    
    .analytics-framework {
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 25px;
    }

    div {      
      display: flex;
      margin-bottom: 5px;
     
       > span {
         margin-right: 12px;
       }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    li a {
      text-align: center;
    }
  }
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 1199px) { 
  .application .content {
    max-height: 700px;
  }
}

@media only screen and (max-width: 991px) { 
  .item-application {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  .cls-banner-content .title-banner {
    font-size: 40px;
  }
  .header-front-page {
    background-size: cover;
  }
  .cls-banner-content {
    padding-top: 40px;
  }

  #mainMenu {
    position: absolute;
    width: 100%;
    background: white;
    margin-left: -15px;
  }
  .navbar-toggler {
    z-index: 1;
    margin-top: 15px;
    button {
      background: white;
      border: none;
      border-radius: 8px;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
  }

  .top_menu ul li a {
    color: black;
    text-align: left;
  }

  .benefits-advantages {
    .content .image {
      max-width: 70px;
    }
  }

  .application {
    .content {
      height: auto;
    }
  }

  .our-solution {
    .description-block {
      width: 90%;
      text-align: center;
    }
    .our-solution-content .list-detail-block ul li:before {
      margin-bottom: -7px;
    }
    .list-detail-block {
      width: 90%;
      ul {
        padding: 0;
      }
    }
  }

  .footer {
    background: #005dd3;

  }
}
