@charset "UTF-8";
/* đổ màu linear gradiant từ bottom lên top (vertical linear)/ truyền vào 2 mã màu. 
đây là đổ màu cho thẻ div và các thẻ container khác, không dùng được cho icon. 
icon sử dụng svg là đổ màu bằng svg path. 
*/
/* đổ màu linear gradiant từ bottom lên top (vertical linear)/ truyền vào 2 mã màu. 
đây là đổ màu cho thẻ div và các thẻ container khác, không dùng được cho icon. 
icon sử dụng svg là đổ màu bằng svg path. 
thay vì đổ linear background, hàm này đổ chi tiết hơn, chỉ đổ cho background-image.
*/
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@media (min-width: 1400px) {
  .application .container {
    width: 1366px;
  }
}

li {
  margin: 0;
  padding: 0;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.h-100 {
  height: 100%;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: initial;
}

#header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cls-banner-content {
  padding-top: 18.3%;
}

.cls-banner-content .title-banner {
  max-width: 635px;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.07;
  color: #fefeff;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.cls-banner-content .subtitle-banner {
  max-width: 593px;
  padding-top: 15px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.7px;
  color: #fefeff;
}

.cls-banner-content .horizontal-line {
  margin-top: 30px;
  width: 128px;
  height: 2px;
  background: #fefeff;
  content: " ";
}

.cls-banner-content .intro-desciption-banner {
  padding-top: 35px;
  max-width: 705px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #feffff;
}

.header-front-page {
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.navbar-brand {
  float: left;
  margin-top: 20px;
  padding: 0;
  width: 139px;
  height: 45px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.top_menu {
  float: right;
}

.top_menu ul li {
  padding-left: 16px;
  padding-top: 16px;
}

.top_menu ul li a {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #fefeff;
}

.top_menu ul li a:hover {
  background-color: transparent !important;
}

.top_menu ul li a.active {
  font-weight: bold;
}

.top_menu ul li a {
  text-align: center;
}

.mibi {
  display: none;
}

.our-solution {
  margin-top: 0%;
  background: #ffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff), to(#f3f3e7));
  background: linear-gradient(to bottom, #ffff 0%, #f3f3e7 100%);
  background-size: 150% 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -70px;
}

.our-solution .list-detail-block ul {
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block {
  font-size: 2.0833rem;
  font-weight: bold;
  color: #010101;
  text-align: center;
  margin-bottom: 7%;
}

.title-block.first-section {
  margin-bottom: 1.5%;
}

.our-solution-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.our-solution-content .description-block {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: #4e4d4d;
}

.our-solution-content .list-detail-block {
  padding-top: 5%;
  padding-bottom: 4%;
  font-size: 1rem;
  color: #4e4d4d;
}

.our-solution-content .list-detail-block ul li {
  font-size: 23px;
  padding-bottom: 22px;
  letter-spacing: 0.2px;
}

.our-solution-content .list-detail-block ul li:before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url("../image/ticker.png");
  background-size: contain;
  margin-right: 15px;
  margin-bottom: -3px;
}

.our-solution-content .img-infor {
  z-index: 1;
}

.our-solution-content .img-infor img {
  width: 100%;
}

.background-infor {
  width: 100%;
}

.background-infor.footer {
  background-color: #f2f1f1;
}

.background-infor img {
  width: 100%;
}

.benefits-advantages {
  margin-top: 8.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -70px;
}

.benefits-advantages .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7.25%;
}

.benefits-advantages .content .image {
  max-width: 200px;
  width: 100%;
  margin-right: 20px;
}

.benefits-advantages .content .title {
  font-size: 1rem;
  color: #000000;
}

.application {
  margin-top: 15%;
}

.application .content {
  max-height: 560px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application .content .image {
  width: 134px;
  height: 134px;
}

.application .content .image img {
  width: 100%;
  height: 100%;
}

.application .content .title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.application .content .list-des ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.application .content.green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #eefff0;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.application .content.green::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#008a06), to(#c4ff70));
  background: linear-gradient(to top right, #008a06, #c4ff70);
  height: calc(100% + 8px);
}

.application .content.green .title {
  color: #008a06;
}

.application .content.green .list-des ul li::before {
  color: #008a06;
}

.application .content.blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #eff9ff;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.application .content.blue::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#005dd3), to(#25abff));
  background: linear-gradient(to top right, #005dd3, #25abff);
  height: calc(100% + 8px);
}

.application .content.blue .title {
  color: #005dd3;
}

.application .content.blue .list-des ul li::before {
  color: #005dd3;
}

.application .content.red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #fff6ef;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.application .content.red::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#d3004f), to(#ff6825));
  background: linear-gradient(to top right, #d3004f, #ff6825);
  height: calc(100% + 8px);
}

.application .content.red .title {
  color: #db1447;
}

.application .content.red .list-des ul li::before {
  color: #db1447;
}

.about-us {
  position: relative;
  padding-top: 10%;
  padding-bottom: 3.7%;
  background: #f1f0f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f0f1), to(#f2f1f1));
  background: linear-gradient(to bottom, #f1f0f1 0%, #f2f1f1 100%);
  background-size: 150% 150%;
}

.about-us .history {
  margin-top: 60px;
}

.about-us .history .content {
  min-height: 112px;
}

.about-us .item-application {
  z-index: 1;
}

.about-us .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .content-item.margin-left-right {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 64px;
}

.about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .content.succeed > .number {
  margin-right: 15px;
}

.about-us .content .image {
  height: 97px;
}

.about-us .content .image img {
  width: 100%;
  height: 100%;
}

.about-us .content .title {
  font-size: 18px;
  color: #399cd5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-us .content .list-des {
  min-height: 120px;
  font-size: 16px;
  text-align: center;
  color: #4c4c4c;
}

.about-us .content .number {
  font-size: 48px;
  font-weight: 600;
}

.about-us .content .des {
  font-size: 20px;
  color: #4c4c4c;
}

.about-us .content.green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #eefff0;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.about-us .content.green::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#008a06), to(#c4ff70));
  background: linear-gradient(to top right, #008a06, #c4ff70);
  height: calc(100% + 8px);
}

.about-us .content.green .title {
  color: #008a06;
}

.about-us .content.green .list-des ul li::before {
  color: #008a06;
}

.about-us .content.blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #eff9ff;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.about-us .content.blue::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#005dd3), to(#25abff));
  background: linear-gradient(to top right, #005dd3, #25abff);
  height: calc(100% + 8px);
}

.about-us .content.blue .title {
  color: #005dd3;
}

.about-us .content.blue .list-des ul li::before {
  color: #005dd3;
}

.about-us .content.red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #fff6ef;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
}

.about-us .content.red::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#d3004f), to(#ff6825));
  background: linear-gradient(to top right, #d3004f, #ff6825);
  height: calc(100% + 8px);
}

.about-us .content.red .title {
  color: #db1447;
}

.about-us .content.red .list-des ul li::before {
  color: #db1447;
}

.about-us .content.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #f2f1f1;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-us .content.first::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#236cb5), to(#4fb8e9));
  background: linear-gradient(to top right, #236cb5, #4fb8e9);
  height: calc(100% + 8px);
}

.about-us .content.first .number {
  color: #2c6cb4;
}

.about-us .content.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #f2f1f1;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-us .content.second::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#1888c0), to(#7fd1f4));
  background: linear-gradient(to top right, #1888c0, #7fd1f4);
  height: calc(100% + 8px);
}

.about-us .content.second .number {
  color: #0687bf;
}

.about-us .content.third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #000000;
  background: #f2f1f1;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-us .content.third::after {
  content: '';
  position: absolute;
  padding-top: 70px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left bottom, right top, from(#344fa2), to(#a4c8ea));
  background: linear-gradient(to top right, #344fa2, #a4c8ea);
  height: calc(100% + 8px);
}

.about-us .content.third .number {
  color: #3650a1;
}

.about-us .succeed {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.how-it-work {
  display: block;
  background: #f8f8f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f9), to(#eeeded));
  background: linear-gradient(to bottom, #f8f8f9 0%, #eeeded 100%);
  background-size: 150% 150%;
}

.footer {
  background: #f2f1f1 url("../image/banner-2.png") no-repeat;
  padding-top: 25%;
  padding-bottom: 11.5%;
  color: white;
}

.footer .text-white,
.footer .contact-info-group a {
  color: white;
}

.footer .contact-info-group {
  font-size: 20px;
}

.footer .contact-info-group > img {
  max-width: 265px;
}

.footer .contact-info-group .analytics-framework {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
}

.footer .contact-info-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.footer .contact-info-group div > span {
  margin-right: 12px;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-nav li a {
    text-align: center;
  }
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .application .content {
    max-height: 700px;
  }
}

@media only screen and (max-width: 991px) {
  .item-application {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  .cls-banner-content .title-banner {
    font-size: 40px;
  }
  .header-front-page {
    background-size: cover;
  }
  .cls-banner-content {
    padding-top: 40px;
  }
  #mainMenu {
    position: absolute;
    width: 100%;
    background: white;
    margin-left: -15px;
  }
  .navbar-toggler {
    z-index: 1;
    margin-top: 15px;
  }
  .navbar-toggler button {
    background: white;
    border: none;
    border-radius: 8px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
  }
  .top_menu ul li a {
    color: black;
    text-align: left;
  }
  .benefits-advantages .content .image {
    max-width: 70px;
  }
  .application .content {
    height: auto;
  }
  .our-solution .description-block {
    width: 90%;
    text-align: center;
  }
  .our-solution .our-solution-content .list-detail-block ul li:before {
    margin-bottom: -7px;
  }
  .our-solution .list-detail-block {
    width: 90%;
  }
  .our-solution .list-detail-block ul {
    padding: 0;
  }
  .footer {
    background: #005dd3;
  }
}
/*# sourceMappingURL=style.css.map */