<html class="gr__tma-innovation_center">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
	<title>TMA Innovation Center (TIC)</title>
	<script type="text/javascript">
		var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
		var num_slide = 5;
		if (isMobile == true) {
			num_slide = 2;
		}
	</script>
</head>

<body data-gr-c-s-loaded="true">
	<!-- Header -->
	<header class="header-front-page" style="background-image: url(image/banner.jpg)">
		<nav class="" role="navigation" id="header">
			<div class="container ">
				<div class="flex-header">
					<div class="navbar-header logo">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
							<a href="index.html">
								<img src="image/tic-logo-dolphin.png">
							</a>
						</div>
					</div>
					<div class="navbar-toggler collapsed">
						<button class="" type="button" data-toggle="collapse" data-target="#mainMenu"
							aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
							<!-- <span style={{fontSize: "13px", fontWeight: "500", textTransform: "uppercase"}}>
							Menu
						</span> -->
							<span class="navbar-toggler-icon">
						</button>
					</div>

					<div id="mainMenu" class="navbar-collapse collapse top_menu" aria-expanded="false"
						style="height: 1px;">
						<ul class="nav navbar-nav">
							<li><a href="/" class="active">Home</a></li>
							<li><a href="#our-solution">Our Solution</a></li>
							<li><a href="#how-it-work">How It Works</a></li>
							<li><a href="#about-us">About Us</a></li>
							<li><a href="#contact">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="cls-banner-content">
					<div class="title-banner">Brands
						Recognition</div>
					<div class="subtitle-banner">
						Auto Detect Brands In Advertisement
					</div>
					<div class="horizontal-line"></div>
					<div class="intro-desciption-banner">
						Brand information extraction <br> Product detection <br> Labeling and Boxing.
					</div>
				</div>

			</div>
		</nav>
	</header>
	<section class="our-solution" id="our-solution">
		<div class="container">
			<div class="row">
				<div class="flex our-solution-content">
					<div class="title-block first-section">
						Our Solution
					</div>
					<div class="description-block">
						WITH DEEP LEARNING & NLP SYSTEM, WE CAN:
					</div>
					<div class="list-detail-block">
						<ul>
							<li>Automatically detect images and text that contain the content of the brand.</li>
							<li>Box and label the content and product on the scanned documents.</li>
							<li>Evaluate and export other relevant information.</li>
							<li>Identify exactly the specific information of products and its brands rely on the scanned
								images.</li>
						</ul>
					</div>
					<div class="img-infor">
						<img src="image/info.png" alt="">

					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="background-infor">
			<img class="img-responsive" src="image/bg-infor.png" alt="">
		</div>
	</section>
	<section class="benefits-advantages" id="benefits-advantages">
		<div class="container">
			<div class="title-block">
				Benefits & Advantages
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="content">
						<div class="image">
							<img class="img-responsive" src="image/productivity.png" alt="Benefit icons">
						</div>
						<div class="title">
							<p>Increase Productivity</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="content">
						<div class="image">
							<img class="img-responsive" src="image/save-time.png" alt="Benefit icons">
						</div>
						<div class="title">
							<p>Reduce Processing Time</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="content">
						<div class="image">
							<img class="img-responsive" src="image/save-cost.png" alt="Benefit icons">
						</div>
						<div class="title">
							<p>Reduce Cost</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="content">
						<div class="image">
							<img class="img-responsive" src="image/accuracy.png" alt="Benefit icons">
						</div>
						<div class="title">
							<p>Minimize Manual Work</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="application" id="application">
		<div class="container">

			<div class="title-block">
				Applications
			</div>
			<div class="row">
				<div class="item-application col-md-4">
					<div class="content green">
						<div class="image">
							<img src="image/e-commerce-icon.png" alt="">
						</div>
						<div class="title">
							<span>E-Commerce</span>
						</div>
						<div class="list-des">
							<ul>
								<li>Scrutinizing piracy</li>
								<li>Estimating the coverage of their products on markets.
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="item-application col-md-4">
					<div class="content blue">
						<div class="image">
							<img src="image/agency-icon.png" alt="">
						</div>
						<div class="title">
							<span>Agency</span>
						</div>
						<div class="list-des">
							<ul>
								<li>Making ads for specific groups</li>
								<li>Analyzing the true reach of their marketing
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="item-application col-md-4">
					<div class="content red">
						<div class="image">
							<img src="image/magazine-icon.png" alt="">
						</div>
						<div class="title">
							<span>Magazine</span>
						</div>
						<div class="list-des">
							<ul>
								<li>Understanding interest of customers</li>
								<li>Knowing the popularity of each product appearing on magazines.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="background-infor">
			<img src="image/bg-work.png" alt="">
		</div>
	</section>
	<section class="how-it-work" id="how-it-work">
		<div class="container">
			<div class="row">
				<div class="flex our-solution-content">
					<div class="title-block">
						How It Works
					</div>

					<div class="img-infor">
						<img src="image/map.png" alt="">

					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-us" id="about-us">
		<div class="container">

			<div class="title-block">
				About Us
			</div>
			<div class="row branding">
				<div class="item-application col-sm-6">
					<div class="content blue">
						<div class="image">
							<img src="image/logo-tma.png" alt="">
						</div>
						<div class="title">
							<a>www.tmasolutions.com</a>
						</div>
						<div class="list-des">
							<p>The well - established software solutions provider with 2,400 engineers 22 years of
								experience in developing enterprise software for clients in 27 countries.</p>
						</div>
					</div>
				</div>
				<div class="item-application col-sm-6">
					<div class="content red">
						<div class="image">
							<img src="image/logo.svg" alt="">
						</div>
						<div class="title">
							<a>www.tma-innovation.center</a>
						</div>
						<div class="list-des">
							<p>The innovation center of TMA Solutions provides the R&D services and innovative solutions
								based on new technologies such as Data Science, Artificial Intelligence/Machine
								Learning, Internet of Thing and Blockchain.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row history">
				<div class="item-application col-sm-4">
					<div class="content first succeed">
						<div class="number">2,400</div>
						<div class="des">Engineers</div>
					</div>
				</div>
				<div class="item-application col-sm-4">
					<div class="content second succeed">
						<div class="number">22</div>
						<div class="des">years of providing services</div>
					</div>
				</div>
				<div class="item-application col-sm-4">
					<div class="content third succeed">
						<div class="number">27</div>
						<div class="des">countries with leading
							companies trust our services</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="footer">
			<div class="container">
				<div class="title-block text-white">Contact Us</div>
				<div class="row">
					<div class="col-md-6">
						<div class="contact-info-group">
							<img src="image/tic-logo-dolphin.png" alt="logo" class="img-responsive">
							<div class="analytics-framework">CUSTOMER ANALYTICS FRAMEWORK </div>
							<div>
								<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<div><a href="mailto:tic@tma.com.vn">tic@tma.com.vn</a></div>
							</div>
							<div>
								<span><i class="fa fa-phone" aria-hidden="true"></i></span>
								<div>(+84) 28-3997-8000 (Ext: 5945)</div>
							</div>
							<div>
								<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<div>TMA Tower, Street #10, Quang Trung Software City,
									1 To Ky, District 12, Ho Chi Minh City, Vietnam</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7836.8302797210135!2d106.631049!3d10.855996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf2251bacb86b0f2!2sTMA+Solutions+Lab+6!5e0!3m2!1sen!2sus!4v1560245076116!5m2!1sen!2sus"
							width="100%" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>

</body>